@model GetStudentsViewModel

@{
	ViewBag.Title = "Students";
}

<div>
	<div class="d-flex justify-content-end align-items-center mb-3 gap-2">
		<form id="form" asp-action="Index" method="get" asp-controller="Student" style="max-width: 300px">
			<div class="input-group">
				<input type="text" class="form-control" asp-for="SearchString" placeholder="Search via name" />
				<button class="btn btn-primary">
					<i class=" bi-search"></i>
				</button>
			</div>
			<span class="invalid-feedback" asp-validation-for="SearchString"></span>
		</form>
		<a asp-action="Create" asp-controller="Student" class="btn btn-success">+ Create Student</a>
	</div>
	<form id="deleteForm" asp-action="Delete" method="post" asp-controller="Student" class="visually-hidden">
		<input name="id" />
		<button type="submit"></button>
	</form>
	<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					Are you sure you want to delete this student ?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button id="userDeleteButton" type="button" class="btn btn-danger">Delete User</button>
				</div>
			</div>
		</div>
	</div>
	@* <div class="custom-display-grid"> *@
	@* 	@foreach (var student in Model.Students) *@
	@* 	{ *@
	@* 		<div class="card"> *@
	@* 			<div class="card-body"> *@
	@* 				<p class="user-id visually-hidden">@student.Id<p/> *@
	@* 				<h5 class="card-title">@student.FirstName  @student.LastName</h5> *@
	@* 				<div class="card-text"> *@
	@* 					<p>@student.Email</p> *@
	@* 						@if (student.DegreeTitle != null) *@
	@* 						{ *@
	@* 							<p>@student.DegreeTitle</p> *@
	@* 						} *@
	@* 				</div> *@

	@* 				<a href="#" class="btn btn-primary">Edit</a> *@
	@* 				<button class="btn btn-primary card-delete-button">Delete</button> *@
	@* 			</div> *@
	@* 		</div> *@
	@* 	} *@
	@* </div> *@

	@if (Model.Students.Count != 0)
	{
		<div class="table-responsive-xl">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th class="single-line" scope="col">First Name</th>
						<th class="single-line" scope="col">Last Name</th>
						<th class="single-line" scope="col">Email</th>
						<th class="single-line" scope="col">Degree</th>
						<th class="single-line" scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					@for (int i = 0; i < Model.Students.Count(); i++)
					{
						var student = Model.Students[i];

						<tr>
							<th scope="row">@((i + 1) + ((Model.Page - 1) * Model.PageSize))</th>
							<td>@student.FirstName</td>
							<td>@student.LastName</td>
							<td>@student.Email</td>
							<td>@student.DegreeTitle</td>
							<td>
								<div class="d-flex gap-2 align-items-center">
									<a href="#" class="btn btn-primary btn-sm d-flex flex-nowrap align-items-center">
										<i class="bi bi-pencil-square me-1"></i> <span>Edit</span>
									</a>
									<p class="user-id visually-hidden">@student.Id</p>
									<button class="btn btn-primary btn-sm card-delete-button btn-danger d-flex flex-nowrap align-items-center"><i class="bi bi-trash me-1"></i> <span>Delete</span></button>
								</div>
							<td />
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="d-flex justify-content-center gap-2">
			@{
				var hasPrev = Model.Page != 1;
				var hasNext = !Model.LastPage;
				var prevHref = hasPrev ? "href=" + ($"/Student?Page={Model.Page - 1}" + (Model.SearchString != "" ? $"&SearchString={Model.SearchString}" : "")) : null;
				var nextHref = hasNext ? "href=" + ($"/Student?Page={Model.Page + 1}" + (Model.SearchString != "" ? $"&SearchString={Model.SearchString}" : "")) : null;
				<a class="btn btn-text @(hasPrev ? "text-primary" : "text-muted no-cursor-pointer")" @prevHref><i class="bi-chevron-left"></i> Previous</a>
				<a class="btn btn-text @(hasNext ? "text-primary" : "text-muted no-cursor-pointer")" @nextHref> Next <i class="bi-chevron-right"></i></a>
			}
		</div>
	}
	else
	{
		<p class="text-center text-muted">No students found</p>
	}

</div>

@section Scripts {
	<script defer src="~/js/student/index.js"></script>
}